@import url('https://rawgit.com/meninaveneno/bondade20/master/Chat-Color.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/patentes.css');
@import url('https://raw.githack.com/meninaveneno/Panelinha/master/userRI.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/chat-color.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/background.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/colors.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/CoresStatusPerfil.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/chat.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/descricao.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/adicionais.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/user-meta.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/Adicionais2.css');
@import url('https://rawgit.com/meninaveneno/ROCK-STORY/master/logo.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/header-panel-invisivel.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/adicional3.css');

.left-side-wrapper { background-position-x: center !important; background-position-y: bottom !important;
background-repeat: no-repeat !important; background-size: 1600px 800px !important;
max-height: 900px !important; background-image: url(https://static.zerochan.net/Matsubara.Kanon.full.2642250.png) !important;
}  

#dj-booth{background:url(https://i.imgur.com/w5S4r1D.png)20px 125px no-repeat;background-size:300px}

/* Refugio Idol Customização
Editado por Yukira Yotsuba
*/

